.form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  align-items: center;
  padding: 20px;
  gap: 20px;
  border: 1px solid #202020;
  border-radius: 4px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-weight: bold;
  color: rgb(8, 57, 112);
}

.input {
  width: 260px;
  padding: 8px;
  font-size: 16px;
}

.error {
  margin-top: 10px;
  color: red;
  font-size: 12px;
}

.button {
  background-color: rgb(154, 203, 243);
}

.button:hover {
  background-color: rgb(11, 65, 109);
}
