.contact {
  display: flex;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.iconText {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(5, 51, 95);
}

.button {
  background-color: rgb(181, 181, 184);
  font-weight: bolder;
}

.button:hover {
  background-color: #e53935;
}
